.app-newbusinesscard{
    position: relative;
    left:480px;
    top: 100px;
    width: 530px;
    padding: 15px; 
   
}

.newcard-text{

    position: relative;
    left:490px;
    top: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: rgb(143, 96, 57);
}
