<br><br><br><br><br><br><br><br><link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<!-- Footer -->
	
				<div class="row">
					
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">GITHUB ACCOUNT</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fab fa-github"></i>
									<br>
									<p><b>Project repo</b></p>
									<span><a href = "https://bit.ly/2CCetf7"> https://bit.ly/2CCetf7</a></span>
								</div>
									<div class="col-10">
										
									
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">PROJECT README</h5>
						<ul class="recent-post">
							<li>
								<span><a href = "https://bit.ly/2K8FZoG"> https://bit.ly/2K8FZoG</a></span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONNECT WITH ME</h5>

						<ul class="social-pet mt-4">
							<li><a href="https://www.linkedin.com/in/jamesvallescv/" title="facebook"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="http://www.twitter.com/jamesvalles" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://github.com/jamesvalles" title="google-plus"><i class="fab fa-github"></i></a></li>
							<li><a href="http://instagram.com/techyminute" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			
		
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white"><span class="footer-text">
							&copy; 2019 James Valles. All Rights Reserved.</span>
						</div>
					</div>
				</div>
			</div>
		</section>