<BR><BR><BR><BR><BR><BR><link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold"></h5>
						<p class="mb-4"></p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0"></h6>
										<p></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0"></h6>
										<p><a href="#"></a></p>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">GITHUB ACCOUNT</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fab fa-github"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">https://bit.ly/2CCetf7 </a>Project repo</p>
									
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">PROJECT README</h5>
						<ul class="recent-post">
							<li>
								<span>https://bit.ly/2K8FZoG</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONNECT WITH ME</h5>

						<ul class="social-pet mt-4">
							<li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2018 James Valles. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</section>