<aside class="mdc-drawer">
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item" routerLink ="/login" routerLinkActive = "active">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">verified_user</i>
          <span class="mdc-list-item__text">Login</span>
        </a>
        <a class="mdc-list-item" routerLink ="/cards" routerLinkActive = "active">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">picture_in_picture</i>
            <span class="mdc-list-item__text">Card Dashboard</span>
          </a>
          <a class="mdc-list-item" routerLink ="/new" routerLinkActive = "active">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add_comment</i>
          <span class="mdc-list-item__text">Add Card</span>
        </a>
        <a class="mdc-list-item" routerLink ="/camera" routerLinkActive = "active">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">photo_camera</i>
            <span class="mdc-list-item__text">Camera</span>
          </a>
          <a class="mdc-list-item" routerLink ="/home" routerLinkActive = "active">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
            <span class="mdc-list-item__text">Profile</span>
          </a>
        
      </nav>
    </div>
  </aside>


  