<div class="container-fluid p-0">
  
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>
            
                <!-- Menu with submenu -->
                <!-- <a routerLink ="/login" *ngIf="loggedIn === false" (click) ="login()" routerLinkActive = "active" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="oi oi-key fa-fw mr-3"></span>
                        <span class="menu-collapsed">Login</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a> -->

                <a routerLink ="/login" (click)="logout()"  *ngIf="loggedIn !== false" routerLinkActive = "active" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="oi oi-key fa-fw mr-3"></span>
                        <span class="menu-collapsed">Logout</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>

                <a  routerLink ="/cards" routerLinkActive = "active" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="oi oi-pie-chart fa-fw mr-3"></span>
                        <span class="menu-collapsed">Dashboard</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <a routerLink ="/camera" routerLinkActive = "active" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class=" fa-fw mr-3"><i class="fas fa-camera"></i></span>
                        <span class="menu-collapsed">Camera</span>    
                    </div>
                </a>
             
                <a routerLink ="/new" routerLinkActive = "active" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="oi oi-plus fa-fw mr-3"></span>
                        <span class="menu-collapsed">Add Card</span>
                    </div>
                </a>    
                <a routerLink ="/profile" routerLinkActive = "active" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="oi oi-person fa-fw mr-3"></span>
                        <span class="menu-collapsed">Profile</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>     
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->
    </div><!-- body-row END -->
    </div><!-- container -->