.login-form{
    width: 50%;
    background-color: white;
    border: 1px solid rgb(218, 216, 216);
 
        position: relative;
        left:480px;
        top: 140px;
        
    }


.logreg-forms{
    padding: 20px;
    width: 65% ;
    position: relative;
    margin: auto;
}

.form-signin{
    
}

.welcome-text{

    position: relative;
    left:480px;
    top: 140px;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: rgb(32, 32, 32);
}
 