.app-camera{
    position: relative;
    left:480px;
    top: 90px;
    width: 530px;
    padding: 15px; 
   
}

.save{
    position: relative;
    left:560px;
    width:200px;
    top: -273px;
    padding: 15px;
    background: rgb(243, 243, 243);
}

.snapshot{
    position: relative;
    top:-35px;
}

.camera-text{

    position: relative;
    left:490px;
    top: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: rgb(143, 96, 57);
}

